.footer {
    width: 100%;
    background-color: #e6f8ff;
    margin: 22px 0 0 0;
    &_container {
        max-width: 440px;
        height: 231px;
        margin: -25px auto;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (max-width: 1024px) {
            height: auto;
        }
    }
}
.social-networks {
    display: flex;
    margin: 0 -4.5px;
    padding: 12.5px 0;
}
.social-network {
    padding: 0 4.5px;
    &_icon {
        object-fit: cover;
        max-width: 100%;
    }
}
.privacy-policy {
    text-align: center;
    color: #2f4b6e;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 12.5px 0;
    @media (max-width: 405px) {
        padding: 0 0 10px 0;
    }
}
